<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/assets/styles/styles.css">
</head>
<body>
    <div class="navbar">
        <a href="/">Inicio</a>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
        <a href="/news">Noticias</a>
    </div>

    <div class="container">
        {{{body}}}
    </div>
</body>
</html>